<div class="footerContainar d-none d-md-block">
	<div class ="container">
		<div class="footer">
			<div class="row" >
				<div class="col-md-2">
					<div class="footerHeading"><u>Account</u></div>
					<div><a href="#">Register</a></div>
					<div><a href="#">Login</a></div>
					<div><a href="#">Edit presonal details</a></div>
					<div><a href="#">Wishlist</a></div>
					<div><a href="#">Order history</a></div>
					<div><a href="#">Payment mode</a></div>
				</div>
				
				<div class="col-md-2">
					<div class="footerHeading"><u>Site map</u></div>
					<div><a href="#">Home</a></div>
					<div><a href="#">About us</a></div>
					<div><a href="#">New products</a></div>
					<div><a href="#">Best sellers</a></div>
					<div><a href="#">Discounts</a></div>
					<div><a href="#">Career with us</a></div>
				</div>
				
				<div class="col-md-4">
					<div class="footerHeading"><u>Connect with us</u></div>
					<div class="socialMedia">
						<i class="fab fa-facebook-square"></i>
						<i class="fab fa-instagram"></i>
						<i class="fab fa-youtube-square"></i>
						<i class="fab fa-twitter-square"></i>
						<i class="fab fa-linkedin"></i>
					</div>
					<div class="mt-2"><i class="fas fa-phone-volume contactDetails"></i>+91 9491 964 664
					<i class="fab fa-whatsapp contactDetails ml-3"></i>+91 9491 964 664</div>
					<div><i class="fas fa-envelope contactDetails mr-3"></i>rahul_nani33@yahoo.com</div>
					
					<div class="input-group mt-2">
						<input type="text" class="form-control" placeholder="Email id for free news letters">
						<div class="input-group-append">
							<span class="input-group-text" id="basic-addon2">Go</span>
						</div>
					</div>
				</div>
				
				<div class="col-md-4">
					<div class="footerHeading"><u>Address</u></div>
					<div class="addressBlock"></div>
				</div>
			</div>
		</div>
	</div>
</div>