.footer {
    background: #222;
    color: #EEEEEE;
    padding: 25px;
    }
    
    .footerContainar{
      background-color: #222;
    }
    
    .footerHeading {
      margin-bottom: 30px;
    }
    
    .footer a{
      color: #f2f2f2;
    }
    
    .footer .socialMedia i{
      font-size: 25px;
      margin-left: 15px;
    }
    .footer .socialMedia i:first-child{
      margin-left: 0;
    }

    .contactDetails {
        margin-right: 10px;
      }
      
    .addressBlock {
    width: 325px; 
    height: 140px; 
    background-color: #f2f2f2;
    border-radius: 3px;
    }

    .fa-chevron-right {
        content: "\f054";
        color: #000;
        padding-right: 5px;
        font-size: 15px;
    }
    
    .verticalLine {
      border-left: 1px solid black;
      height: 350px;
    }
    
      
    