<div class="top_stripe">
    <div class="container mt-1">
        <div class="row pt-2">
            <div class="col-5">
                <p>Logo</p>
            </div>
            <div class="col-2">
                <p><i class="fas fa-phone-volume"></i>9491 964 664</p>
            </div>
            <div class="col-5 text-right">
                <span><a routerLink="/login" routerLinkActive="active">Sign in</a></span>
                <span class="ml-3"><a routerLink="/login" routerLinkActive="active">Orders</a></span>
                <span class="ml-3"><a routerLink="/login" routerLinkActive="active">returns</a></span>
                <span class="ml-3"><a routerLink="/login" routerLinkActive="active">Cart</a></span>
            </div>
        </div>
    </div>
</div>
