<div class="container mb-3">
	<div class="row">
		<div class="col-md-3">
			<div class="card mb-2" >
				<div class="card-body bg-f2f2f2">
					<h5 class="card-title">10% Discount</h5>
					<p class="card-text">On online order only</p>
				</div>
			</div>
			<div class="card">
				<div class="col pt-2 pb-2">
					<div class="card h-100">
					<img src="https://mdbootstrap.com/img/new/standard/city/044.jpg" class="card-img-top"alt="..."/>
					<div class="card-body">
						<h5 class="card-title">Card title</h5>
						<p class="card-text">
						This is a wider card with supporting text below as a natural lead-in to
						additional content. This content is a little bit longer.
						</p>
					</div>
					<div class="card-footer">
						<small class="text-muted">Last updated 3 mins ago</small>
					</div>
					</div>
				</div>
			</div>
			<div class="card mt-2">
				<div class="card-body bg-f2f2f2">
					<h5 class="card-title">10% Discount</h5>
				</div>
			</div>
		</div>
		<div class="col-md-9">
			<div class="card">
				<div class="card-body bg-f2f2f2">
				<h5 class="text-left mb-3">Best selling</h5>
				<div class="row row-cols-1 row-cols-md-3 g-4">
					<div class="col">
						<div class="card h-100">
						<img
							src="https://mdbootstrap.com/img/new/standard/city/044.jpg"
							class="card-img-top"
							alt="..."
						/>
						<div class="card-body">
							<h5 class="card-title">Card title</h5>
							<p class="card-text">
							This is a wider card with supporting text below as a natural lead-in to
							additional content. This content is a little bit longer.
							</p>
						</div>
						<div class="card-footer">
							<small class="text-muted">Last updated 3 mins ago</small>
						</div>
						</div>
					</div>
					<div class="col">
						<div class="card h-100">
						<img
							src="https://mdbootstrap.com/img/new/standard/city/043.jpg"
							class="card-img-top"
							alt="..."
						/>
						<div class="card-body">
							<h5 class="card-title">Card title</h5>
							<p class="card-text">
							This card has supporting text below as a natural lead-in to additional
							content.
							</p>
						</div>
						<div class="card-footer">
							<small class="text-muted">Last updated 3 mins ago</small>
						</div>
						</div>
					</div>
					<div class="col">
						<div class="card h-100">
						<img
							src="https://mdbootstrap.com/img/new/standard/city/042.jpg"
							class="card-img-top"
							alt="..."
						/>
						<div class="card-body">
							<h5 class="card-title">Card title</h5>
							<p class="card-text">
							This is a wider card with supporting text below as a natural lead-in to
							additional content. This card has even longer content than the first to show
							that equal height action.
							</p>
						</div>
						<div class="card-footer">
							<small class="text-muted">Last updated 3 mins ago</small>
						</div>
						</div>
					</div>
				</div>
				<p class="mt-3 mb-2">| 10% flat discount on online order |</p>
				</div>
			</div>
		</div>
	</div>
</div>

